<div class="row">
    <div class="col-9">
        <div class="px-3">
            <%= cover_image %>
        </div>

        <div class="d-flex bd-highlight">
            <div class="p-5 profile-tweet">
                <div class="container">
                    <%= user_opinion(@user) %>
                </div>
            </div>
        </div>

    </div>

    <div class="col-3">
        <div><%= render partial: "sections/user_profile" %></div>
    </div>
</div>