<div class="welcome text-center">
    <div class="bd-highlight">
        <div class="welcome-border btn">
            <div class="col-12 mx-auto">
                <p class="text-center text-white fw-bold fs-4">Welcome to BookRec👋</p>
                <p class="text-center text-white fw-bold fs-4">Recommend Books to each other and Share your insights about them</p >
            </div>
            <div class="">
                <span><%= link_to 'Log In', sign_in_path, class:"btn btn-outline-light" %></span>
                <span><%= link_to 'Sign Up', new_user_path, class:"btn btn-outline-light" %></span>
            </div>
        </div>
    </div>
</div>