<div class="welcome text-center">
    <div class="bd-highlight">
        <div class="welcome-border btn">
            
            <div class="">
                <span><%= link_to 'Log In', sign_in_path, class:"btn btn-outline-light" %></span>
                <span><%= link_to 'Sign Up', new_user_path, class:"btn btn-outline-light" %></span>
            </div>
        </div>
    </div>
</div>